
<div class="position-relative">
<h1 class="mt-4">MetJewel's Customers Form</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>

<br>
<br>


<%- include ('./partials/messages') %>

<br>
<br>


<!--TEST TABLE-->

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Product</th>
        <th scope="col">Message</th>
        <th scope="col">Remove Data</th>
      </tr>
    </thead>
    <tbody>

<!--add js-->
<% custconsList.forEach(custcons => { %>


    <tr>
        <th scope="row"> <%= custcons._id %> </th>
        <td><%= custcons.name %></td>
        <td><%= custcons.email %></td>
        <td><%= custcons.phone %></td>
        <td><%= custcons.date %></td>
        <td><%= custcons.time %></td>
        <td><%= custcons.product %></td>
        <td><%= custcons.message %></td>
        <td> <a href="/users/delete/<%= custcons._id %>" onclick="return confirm('Are you sure you want to delete this item?');"> Delete</a> </td>
      </tr>

<!--Delete
    <p> <%= custcons.name %> </p>
    <p> <%= custcons.email %> </p>
    <p> <%= custcons.phone %> </p>
    <p> <%= custcons.date %> </p>
    <p> <%= custcons.time %> </p>
    <p> <%= custcons.product %> </p>
    <p> <%= custcons.message %> </p>
-->

<% }) %>

    
    </tbody>
  </table>